################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPGFramework.Database/RPGFramework.Database.dbmdl
